html, body {
    background: #141414;
    height: 100%;
    margin: 0;
    padding: 0;
    color: silver;
    width: 100%;
    overflow-x: hidden;
    font-family: "montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center; /* Center the navbar items */
    align-items: center;
    padding: 1em;
    background-color: #141414;
    color: white;
    font-family: "montserrat", sans-serif;
    position: relative;
}

.navbar-brand {
    font-family: "bebas", sans-serif;
    font-size: 2em;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
    color: silver;
    text-decoration: none;
    flex-grow: 1; /* Ensure the brand stays on the left */
}

.menuItems {
    display: flex;
    gap: 1em;
    font-family: "montserrat-bold", sans-serif;
    font-size: larger;
    justify-content: center;
    align-items: center;
    transition: max-height .8s ease-out;
    overflow: hidden;
    max-height: none;
    flex-direction: row;
}

.menuItems.show {
    max-height: 500px; /* Arbitrary large value to ensure it expands fully */
}

.nav-link {
    color: silver;
    opacity: 0.6;
    transition: opacity 0.2s;
    text-decoration: none;
    animation: fadeIn;
    animation-duration: 2s;
}

.nav-link:hover {
    opacity: 1;
}

.hamburgerButton {
    display: none;
    background: none;
    outline: none;
    border: none;
    font-size: 2em;
    color: silver;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: silver;
}

#animated_text {
    color: #00ff00; /* Neon green color */
    font-family: "montserrat-bold", sans-serif;
    font-size: 18;
}

.basicFooter {
    background-color: #141414;
    color: silver;
    width: 100%;
    text-align: center;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .menuItems {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 600px) {
    .menuItems {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #141414;
        width: 100%;
        text-align: right;
    }

    .menuItems.show {
        display: flex;
    }

    .hamburgerButton {
        display: block;
    }
}